body {
  font-family: Microgramma D Extended Medium, Helvetica;
  src: url("/fonts/Microgramma D Extended Medium.otf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Microgramma D Extended Medium, Helvetica;
  src: url("/fonts/Microgramma D Extended Medium.otf") format("opentype");
  font-weight: 700;
}

.header .btn-outline-primary {
  color: #151D3A;
  background-color: transparent;
  background-image: none;
  border-color: #151D3A;
}

.logo {
  width: 250px;
}

.bg-light {
  background-color: white !important;
}

.hero {
  background-image: url("/wp-content/themes/ljb/img/plumber3.jpg");
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (min-width: 300px) {
  .hero button {
    padding: 10px;
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) {
  .hero {
    font-size: 19px;
  }
  .hero button {
    padding: .5rem 1rem;
    font-size: 1.25rem;
  }
}

.hero .btn-blue {
  color: #303D51;
  border-color: #303D51;
}

.hero .color-white {
  color: white;
}

.hero .hero-text {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  text-align: center;
}

.hero .checklist {
  padding: 10px;
  z-index: 999;
  border: 0px solid red;
  color: white;
}

@media screen and (min-width: 1025px) {
  .hero .checklist {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.hero .offer_row {
  color: white;
}

.hero .offer {
  min-height: 70px;
  padding: 10px;
  height: 180px;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .hero .offer {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media screen and (min-width: 400px) {
  .hero .offer {
    width: 200px;
  }
}

.hero .banner-cta {
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero .banner-cta a {
  color: white;
  padding: 20px;
}

@media screen and (max-width: 1025px) {
  .hero .hero-text2 {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.hero .coupon-box {
  border-top: 1px solid darkred;
  padding-bottom: 20px;
}

.electrical {
  background-image: url("/wp-content/themes/ljb/img/electrical.jpg");
}

#wrapper {
  text-align: center;
  min-height: 500px;
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #15264F;
}

footer.footer a {
  color: #9DA6BA;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  width: auto;
}

.header {
  margin-bottom: 110px;
}

.services-wording {
  line-height: 2;
}

.services-wording img {
  min-height: 40px;
}

.services {
  background-color: white;
  color: #3d4863;
  height: 650px;
}

.services .fa-check {
  margin-bottom: 30px;
}

.services .title {
  margin-bottom: 40px;
  min-height: 40px;
}

@media screen and (min-width: 300px) {
  .services {
    min-height: 1400px;
  }
  .services button {
    padding: 10px;
    font-size: 14px;
  }
}

@media screen and (min-width: 500px) {
  .services {
    min-height: 1100px;
  }
}

@media screen and (min-width: 700px) {
  .services {
    min-height: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .services {
    min-height: 450px;
  }
}

.bk-blue {
  background-color: #303D51;
  color: white;
  padding: 50px;
  line-height: 3;
}

.bk-blue * {
  line-height: 3;
}

.bk-blue a {
  color: white;
}

.borderred {
  border: 1px red solid;
}
