// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin body-font {
    font-family: Microgramma D Extended Medium, Helvetica;
    src: url("/fonts/Microgramma D Extended Medium.otf") format("opentype");
}
